.aspect-square {
  @supports not (aspect-ratio: 1 / 1) {
    &::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

.h-half {
  min-height: min(720px, 50vh);
  height: fit-content;
  max-height: 1440px;
}

td {
  padding: 0.375rem;
}