@import "tailwindcss";

/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
    /* Using colors from user's tailwind.config.ts attempt */
    --color-brand-black: #1f1d1c;
    --color-brand-cream: #f4e3ce;
    --color-brand-green: #2f5236;
    --color-dark: #1f1d1c;
    --font-main: Libre Caslon Display, serif;
    --font-hero: PP Editorial New, serif;
    --font-info: Libre Bodoni, serif;
    --shadow-info: 0px 4px 4px 0px #00000040;
}